@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root {
  --pink-light: #FFE6E6;
  --pink: #E1AFD1;
  --purple-light: #AD88C6;
  --purple: #7469B6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--pink-light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

footer {
  width: 100%;
  height: 300px;
  background-color: var(--purple-light);
  bottom: 0;
  margin-top: 50px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.link {
  color: var(--purple);
  font-weight: 600;
}

.link:hover {
  text-decoration: none;
  font-style: italic;
  background: var(--pink);
}

.button {
  background-color: var(--purple-light);
  color: var(--pink-light);
  font-weight: 600;
  border: 2px solid var(--purple);
  border-radius: 10px;
  box-shadow: 5px 5px var(--purple);
  min-width: 150px;
  min-height:50px;
  position: relative;
  transition: 0.3s ease-in-out 0s;
  top: 0;
  left: 0;
}

.button:hover {
  box-shadow: 1px 1px var(--purple);
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.name-header {
  font-family: "Borel", cursive;
  font-size: 80px;
  margin-top: 100px;
}

.section-header {
  font-family: "Borel", cursive;
  font-size: 50px;
}

.section-container {
  border: 3px solid var(--purple);
  border-radius: 20px;
  width: 600px;
  overflow: hidden;
  margin-top: 50px;
}

.section-container-bar {
  height: 30px;
  width: 100%;
  border-bottom: 3px solid var(--purple);
  background-color: var(--purple-light);
}

.container-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.scallop-border-box {
  margin: 50px 0;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  mask: linear-gradient(#000 0 0) 50%/calc(100% - 75px) calc(100% - 75px) no-repeat,
    radial-gradient(farthest-side, #000 100%, #0000) 0 0/100px 100px round;
  aspect-ratio: 1;
  background-color: var(--purple-light);
  position: relative;
  overflow: visible;
}

/* .scallop-border-box-shadow {
  width: 450px;
  height: 450px;
  mask: linear-gradient(#000 0 0) 50%/calc(100% - 75px) calc(100% - 75px) no-repeat,
    radial-gradient(farthest-side, #000 100%, #0000) 0 0/100px 100px round;
  background-color: var(--purple);
} */
