@import url('https://fonts.googleapis.com/css2?family=Delius&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --pink-light: #FFE6E6;
  --pink: #E1AFD1;
  --purple-light: #AD88C6;
  --purple: #7469B6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--pink-light);
  background-image: url("/cloud-3-color.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (min-width: 1080px) {
  body {
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

nav {
  position: sticky;
  top: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.link::before {
  content: '';
  background-color: var(--pink);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 4px;
  z-index: -1;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

.link:hover::before {
  bottom: 0;
  height: 100%;
}

ul.nav-bar-link-container, 
ul.contact-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-bar-link-container {
  justify-content: space-between;
  width: 90vw;
  padding: 10px 0;
}

.link.nav-bar-link {
  font-weight: 300;
}

footer {
  width: 100%;
  height: 100%;
  background-color: var(--purple-light);
  bottom: 0;
  margin-top: 80px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

footer .container-content {
  width: 300px;
  height: 50%;
  text-align: center;
  gap: 60px 0;
  align-items: center;
  padding: 0 0 30px 0;
}

@media only screen and (min-width: 1080px){
  footer .container-content {
      width: 500px;
      height: 100%;
    }
}

footer .contact-links {
  gap: 5px 15px;
  justify-content: center;
}

.button {
  background-color: var(--purple-light);
  color: var(--pink-light);
  font-weight: 600;
  border: 2px solid var(--purple);
  border-radius: 10px;
  box-shadow: 5px 5px var(--purple);
  width: 150px;
  height: 50px;
  position: relative;
  transition: 0.3s ease-in-out 0s;
  top: 0;
  left: 0;
}

.button:hover {
  box-shadow: 1px 1px var(--purple);
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.section-container {
  background: var(--pink-light);
  border: 3px solid var(--purple);
  border-radius: 20px;
  width: 350px;
  overflow: hidden;
  margin-top: 50px;
}

@media only screen and (min-width: 1080px) {
  .section-container  {
    width: 600px;
  }
}

.section-container-bar {
  height: 30px;
  width: 100%;
  border-bottom: 3px solid var(--purple);
  background-color: var(--purple-light);
}

.container-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.section-header {
  font-family: "Delius", serif;
  font-size: 50px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.name-header {
  font-family: "Delius", serif;
  font-size: 46px;
}

@media only screen and (min-width: 1080px) {
  .name-header {
    font-size: 90px;
  }
}

.name-subheader {
  margin-bottom: 30px;
  font-size: 14px;
  letter-spacing: 10px;
}

@media only screen and (min-width: 1080px) {
  .name-subheader {
    font-size: 20px;
  }
}

#about-me-photo {
  border-radius: 50%;
  border: 3px solid var(--purple);
}

.project-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 1080px) {
  .project-section-wrapper {
    flex-direction: row;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
}

.stack-bubbles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 10px 0;
  list-style-type: none;
}

.stack-bubble {
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}

.horizontal-line {
  width: 100%;
  border: 1px dotted var(--purple);
  border-radius: 5px;
  opacity: 70%;
}

.bold-font {
  font-weight: 600;
}

.project-image {
  width: 300px;
  border-radius: 5px;
}
